<form class="flex-column" hx-post="api/deadline/login">
  <label>email<input type="text" name="email"/></label>
  <label>password<input type="text" name="password"/></label>
  <input type="submit" value="POST">
</form>