<div class="test__wrapper">
    <div class="test__main-container bg-slate-900 text-white">
        <div class="test__topbar p-2 border-white-500" style="border-width: 0.5px">
            topbar ni kendrick
        </div>
        <div class="test__container flex flex-row">
            <div class="test__container__sidebar p-2 flex-2 border-white-500"  style="border-width: 0.5px">
                sidebar ni kendrick
            </div>
            <div class="test_container__content p-2 flex-1 border-white-500"  style="border-width: 0.5px">
                main container ni kendrick
            </div>
        </div>
    </div>
</div>

<style>
    .test__main-container {
        background-color:rgb(41, 33, 33);
        color: white;
    }
    .test_container {
        padding: 10px;
    }
</style>