<!-- <div hx-get="/date" hx-trigger="load"></div> -->
<!-- <div hx-get="/index" hx-trigger="load"></div> -->
<!-- <div hx-get="/counter" hx-trigger="load"></div> -->
<div class="border" hx-get="/kendrick" hx-trigger="load"></div>
<div class="border" hx-get="/jedden" hx-trigger="load"></div>
<div class="border" hx-get="/anthony" hx-trigger="load"></div>