<div class="flex gap-5" hx-boost="true">
    <a href="/">Home</a>
    <a href="/date">Date</a>
    <a href="/counter">Counter</a>
    <a href="/test">test</a>
    <a href="/kendrick">Kendricks SECRETS</a>
</div>