<div class="flex gap-5" hx-boost="true">
    <a href="/" hx-boost="false">Home</a>
    <a href="/date">Date</a>
    <a href="/kendrick">Kendricks SECRETS</a>
    <a href="/deadline">Deadline</a>
</div>